* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container {
   
    width: 100%;
    margin: 0 auto;

    /*display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding:10px;*/
    
    
}

#container-login{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 15px;
    
   background-size: cover;
    /*background-color: #180f68;*/
}

   

#wrap-login {
    background-color: #ffffff;
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px;
    /*box-shadow: 5px 5px 0px #010830;*/
}

.form{
    width: 100%;
} 

.title{
    display: block;
    font-size: 30px;
    color: #1c59db;

    text-align: center;
    line-height: 1.5;
   
    
}


.field {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #1c59db;
    margin-bottom: 37px;
    /*padding-bottom: 0.2rem; */
    
}

.field label {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #0b072b;
       
}

.field input {
    width: 100%;
    height: 45px;

    border: none;
    display: block;
    
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    padding: 0 5px;
    
    background-color: transparent;
}


input:focus {
    outline: 0;
}

input:hover {
    cursor: pointer;
}

.actions  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

#botão {
    
    border-radius: 10px;
    width: 100%;
    height: 50%;font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #6a7dfe;

    background: -webkit-linear-gradient(to left, #1d54a7, #1c59db);
    background: -o-linear-gradient(to left,  #1d54a7, #1c59db );
    background: -moz-linear-gradient(to left,  #1d54a7, #2a66e6 );
    background: linear-gradient(to left, #1d54a7, #1c59db );
}

#botão:hover {
    cursor: pointer;
}

.text-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.txt1 {
    font-size: 14px;
    color: black;
    line-height: 1.5;
    padding-right: 5px;
}

.txt2 {
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
}